body {
  font-family: "Bellefair", serif;
  background: rgb(70, 68, 68);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  /* aspect-ratio: 16/9; */
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/Creative-coding-photo_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: rgb(227, 232, 237);
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 60px;
  font-family: "Bebas Neue", sans-serif;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  display: inline-block;
  margin-top: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgb(227, 232, 237);
  text-decoration: none;
  background: #969595;
  border: 1px solid black;
  padding: 13px 18px;
  font-family: "Source Code Pro", monospace;
}
footer .icon {
  background: rgb(155, 149, 149);
  border-radius: 22px;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/Creative-coding-photo_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  font-size: 12px;
  padding: 100px 0x;

  /* color: rgb(227, 232, 237); */
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 24px;
}
footer ul {
  padding: 0;
  text-decoration: none;
}

footer li {
  list-style: none;
  margin: 5px;
  padding: 0;
}
footer li a {
  color: black;
}

footer a {
  color: white;
  opacity: 0.7;
}
footer a .open-source {
  text-decoration: none;
  color: rgb(220, 218, 218);
  opacity: 0.7;
  font-weight: 200;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 43px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
}
